@inject ApplicationCore.ServiceInterfaces.IGenreService _genreService
@inject ApplicationCore.ServiceInterfaces.ICurrentUserService _currentUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieShopMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Movie Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            var userId = _currentUser.UserId;

                            if (userId != 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-primary font-weight-bold"> Welcome back, @_currentUser.FullName! </a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @{
                            if (userId == 0)
                            {
                                <li>
                                    <button typ="button" class="btn btn-outline-primary rounded-pill">
                                        <a asp-controller="Account" asp-action="Login">Login</a>
                                    </button>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="dropdown bg-light">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Genres
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var genre in await _genreService.GetAllGenres())
                        {
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id">@genre.Name</a>
                        }
                    </div>
                </div>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <div class="dropdown ml-2">
                    <button class="btn btn-secondary bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars text-primary"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @{
                            if (userId == 0)
                            {
                                <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-id="">Home</a>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Privacy" asp-route-id="">Privacy</a>
                            }
                            else
                            {
                                <a class="dropdown-item" asp-controller="User" asp-action="" asp-route-id=@userId>User Profile</a>
                                <a class="dropdown-item" asp-controller="User" asp-action="Favorites" asp-route-id=@userId>Favorites</a>
                                <a class="dropdown-item" asp-controller="User" asp-action="Purchases" asp-route-id=@userId>Purchases</a>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout" href="?action=logout">Logout</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MovieShopMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
